@charset "UTF-8";

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}




h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}



a {
  color: #f4623a;
  text-decoration: none;
  background-color: transparent;
}



a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}





h1, h3, h4, h5, h6,
.h1, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}



.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.bg-primary {
  background-color: #1d0046!important;
}
.justify-content-center {
  justify-content: center !important;
}



.align-items-center {
  align-items: center !important;
}

.h-100 {
  height: 100% !important;
}

body,
html {
  width: 100%;
  height: 100%;
}


.page-section1{
  padding: 1rem 0;
}




header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("https://i.pinimg.com/originals/f3/8e/18/f38e1822bbfa446f9ccc75a875c454be.gif");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}
header.mastheadfondo {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("https://i.pinimg.com/originals/13/c6/00/13c6008f2afbd4711d08898e19835a8c.gif");

  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}


header.mastheadtr {
  padding: 20px;
    background:transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 450px;
    height: 300px;
  margin: auto;
    margin-top: 40px;
     border-radius:22px;
}



header.masthead2 {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 4.5rem);
  background:#4c2882;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead3 {
padding: 20px;
  background:#2b0453;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 450px;
  height: 500px;
margin: auto;
  margin-top: 40px;
   border-radius:22px;
}

header.masthead4 {
padding: 20px;
  background:#2b0453;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 250px;
  height: 75px;
margin: auto;
  margin-top: 40px;
   border-radius:22px;
}



header.masthead13 {
background: url("https://i.blogs.es/1c714c/acer/450_1000.jpg");
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
     border-radius:22px;
}


header.masthead5 {
background: url("https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/geforce_rtx_3090_product_gallery_full_screen_3840_2.jpg");
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
     border-radius:22px;
}
header.masthead6 {
   border-radius:22px;
padding: 20px;
  background:black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 160px;
  margin: auto;
  margin-top: 25px;

}

header.masthead7 {
background: url("https://i.blogs.es/c88be6/gxtrah570wzz4wqe/1366_2000.jpg");
   border-radius:22px;
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}

header.masthead8 {
background: url("https://i.blogs.es/169695/red0/1366_2000.jpg");
   border-radius:22px;
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}
header.masthead9 {
background: url("https://i.3djuegos.com/juegos/9896/oculus_rift/fotos/maestras/oculus_rift-4681926.jpg");
   border-radius:22px;
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}
header.masthead10 {
background: url("https://www.infobae.com/new-resizer/bJ9a45UtP4NoLnansMojc49CbmE=/420x280/filters:format(jpg):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/CKKFLYHURFHQDJ6K5OGCBXBLY4.jpg");
   border-radius:22px;
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}

header.masthead11 {
background: url("https://news.xbox.com/es-latam/wp-content/uploads/sites/4/2020/02/XboxSeriesXHERO.jpg?fit=1200%2C675");
   border-radius:22px;
padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}

header.mastheadpart2 {
  padding-top: 8rem;
  background: url("https://fondosmil.com/fondo/29366.jpg");
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}




.imgcr{
border-radius: 50%;
}

.unico{
line-height: 2;

}
header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
        scroll-behavior: smooth;

    }

img, img:hover, .post-centro, .post-centro:hover{
transition:all .5s ease-in-out;
  -webkit-transition:all .5s ease-in-out;
}
.zoomea:hover{
  -webkit-transform:scale(1.3);
  transform: scale(1.3);
}



body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}




h1,

h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img{
  display:block ;
  max-width: 100%;
}
.img2{
  display: block;
  max-width: 100%;

}
div{
    display: block;
    margin: 0rem;

}

.text-center {
  text-align: center;
}

header,
section {
padding: 3rem;
padding-left: 3rem;
padding-top: 1rem;


  @media (min-width: 20rem) {
    header,
    section {
      padding: 0rem 0;

    }
  }
}

.container1 {

  margin-inline: auto;
  width: min(10%, 70.5rem);

}
.container8{
width: 350px;
height: 350px;
background-color: red;
margin: 50px;
}

.container4 {
  margin-inline: auto;
width: min(10%, 60.5rem)
}






@media (min-width: 40em) {
  .split {
    flex-direction:  row;

  }





  .split > * {

  }




  .split > * + * {
    margin-left: 2em;
  }
}



.Flecha{
clip-path: polygon(83% 81%, 91% 77%, 100% 65%, 99% 41%, 96% 32%, 93% 25%, 86% 16%, 78% 8%, 62% 0, 44% 0, 31% 3%, 23% 8%, 15% 15%, 8% 24%, 3% 33%, 1% 42%, 0 52%, 1% 65%, 6% 73%, 14% 80%, 19% 82%, 22% 93%, 27% 96%, 39% 100%, 51% 100%, 63% 100%, 77% 94%);

}

.Mn{
   font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
   color:white;
}
